.header-container {
  position: fixed;
  top: 0;
  width: 12vw;
  min-width: 60px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  padding: 1vw;
  background-color: rgba(29, 29, 29, 0.822);
  z-index: 1;
  color: rgb(0, 173, 173);
  font-weight: 700;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-format {
  border-radius: 20px;
  min-width: 60px;
  width: 8vw;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .header-container {
    width: 100vw;

    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3vw 4vw;
  }

  .nav-container {
    flex-direction: row;

    align-items: center;
    /* align-content: center; */
  }
}
