.header-container {
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 20px 10px;
  background-color: rgba(5, 5, 5, 0.822);
  z-index: 1;
  color: rgb(0, 173, 173);
}

.logo-container {
  width: 25vw;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 20px;
  justify-content: end;
}
